name: Guibbon CI/CD

on:
  push:
  pull_request:

permissions:
  contents: read

jobs:
  checks:
    runs-on: 'ubuntu-latest'
    name: Linter and type checker

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python 3.12
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          curl -LsSf https://astral.sh/uv/install.sh | sh
          export PATH="$HOME/.cargo/bin:$PATH"

      - name: Type check with mypy
        run: |
          uv run mypy .

      - name: Lint check with ruff
        run: |
          uv run ruff check .

  tests:
    defaults:
      run:
        shell: bash

    strategy:
      matrix:
        os: ['windows-latest', 'ubuntu-latest']
        python-version: ['3.12', '3.13']
    runs-on: ${{ matrix.os }}

    name: "Tests: ${{ matrix.os }}, py ${{ matrix.python-version }}"
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          curl -LsSf https://astral.sh/uv/install.sh | sh
          export PATH="$HOME/.cargo/bin:$PATH"

      - name: Tests with pytest
        run: |
          if ${{ matrix.os == 'ubuntu-latest' }}
          then
            echo "Create virtual display to avoid tk/tcl errors on ubuntu"
            export DISPLAY=:99 
            Xvfb :99 &  
          fi
          uv run pytest
